<h1>Prev Todos</h1>

<p>Type 'Completed' or 'Pending'(without quotes) to filter the list:</p>  
<input class="form-control" id="myInput" type="text" placeholder="Completed/Pending">

<br>
<p>Filter the table by(optional: INACTIVE currently):</p>  
<label for="completed">Completed</label>
<input type="radio" name="filtercond" id="completed" value="completed">
<label for="pending">Pending</label>
<input type="radio" name="filtercond" id="pending" value="pending">
<hr class="my-4">

<table class="table table-striped table-dark table-hover table-sm align-middle">
  <thead>
    <tr>
      <th>#</th>
      <th>Event</th>
      <th>Time</th>
      <th>Reminder</th>
      <th>Email</th>
      <th>Status</th>      
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @todos.each do |todo| %>
      <% if todo.time && todo.time < DateTime.now %>
        <tr>
          <td><%= todo.id%> &nbsp; </td>
          <td>
            <b>
            <%= link_to todo.title, todo%></b><br>
            <em><small>
            <%= todo.description %></small></em>
          </td>
          <td>
            <b>
            <%= todo.time.strftime("%R") + ' hrs'%></b><br>
            <%= todo.time.strftime("%d-%b-%Y") %>
          </td>
          <td><%= todo.reminder %></td>
          <td><%= todo.email %></td>
          <td>
            <% if todo.status %>
              <b><%= 'Completed' %></b>
            <% else %>
              <b><%= 'Pending' %></b>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
          <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        
      <% end %>
    <% end %>
  </tbody>
</table>

<!-- script to filter table rows -->
<script>
$(document).ready(function(){
  var selected = $("input[type='radio'][name='filtercond']:checked");
  // $('#selected.val()').on("keyup", function() {
  $('#myInput').on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<br>

<%= link_to 'New Todo', new_todo_path ,class:"btn btn-primary" %> &nbsp;
<%= link_to 'Back', todos_path ,class:"btn btn-dark" %>

<hr class='my-4'>
